/* Regular Styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #4e555f;
  font-size: 14px;
}
/* Bar Delays Animation Function */
/* Chart Styles */
.chart-wrap {
  /*max-width: 900px;*/
  margin: 0 auto;
  padding: 10px;
  
}
.chart-wrap .chart-title {
  margin-bottom: 10px;
  font-size: 16px;
  
}
.chart-wrap .row {
  position: relative;
  height: 26px;
  margin-bottom: 15px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  
  transition: all 1s;
  transform: translateX(-100%);
  border-radius: 5px;
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
}
.chart-wrap .row:nth-of-type(1) .bar {
  transition: 1s 400ms;
}
.chart-wrap .row:nth-of-type(2) .bar {
  transition: 1s 600ms;
}
.chart-wrap .row:nth-of-type(3) .bar {
  transition: 1s 800ms;
}
.chart-wrap .row:nth-of-type(4) .bar {
  transition: 1s 1000ms;
}
.chart-wrap .row:nth-of-type(5) .bar {
  transition: 1s 1200ms;
}
.chart-wrap .row:nth-of-type(6) .bar {
  transition: 1s 1400ms;
}
.chart-wrap .row:nth-of-type(7) .bar {
  transition: 1s 1600ms;
}
.chart-wrap .label {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .chart-wrap .row {
    padding: 0 40px 0 0;
  }
  .chart-wrap .label {
    
    
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
}
.label
{
  color: black;
}
.lightgreen_orange
{
  background: -webkit-linear-gradient(left, lightgreen , orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, lightgreen, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, lightgreen, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, lightgreen , orange);
}
.coral_yellow
{
  background: -webkit-linear-gradient(left, coral , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, coral, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, coral, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, coral , yellow);
}
.powderblue_lightgreen
{
  background: -webkit-linear-gradient(left, powderblue,lightgreen); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, powderblue,lightgreen); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, powderblue,lightgreen); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, powderblue,lightgreen);
}
.purple_powderblue
{
  background: -webkit-linear-gradient(left, purple,powderblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, purple,powderblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, purple,powderblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, purple,powderblue);
}
